<p id="notice"><%= notice %></p>
<% if @articles.present?%>
<%= render @articles %>
<% else %>
<p>There are no article containing the term(s) <%= params[:search] %>.</p>
<% end %>
<%= link_to 'New Article', new_article_path %>

